@import url("bootstrap/css/bootstrap.min.css");
/*@import url("/node_modules/jquery-ui/jquery-ui.min.css");
@import url("//node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css");*/
@font-face{
	font-family: 'Bizon';
	src:  url(
		"/fonts/Bizon.otf"
		);
}

body {
	font-family: "Bizon", sans-serif;
	background-image: url("http://localhost/tamixMultimedios/public/img/fondo.png");
	background-size: cover;
}

.container {
    height: auto;
}

 .footerBg{
     background-image: url("http://localhost/tamixMultimedios/public/img/footer.png");
     background-size: cover;
 }

 form, table, #datatable, .verdana{
     font-family: "Verdana", sans-serif;
 }

 .card-bg{
    background-image: url("http://localhost/tamixMultimedios/public/img/fondo2.png");
	background-size: cover;
 }

 #resultados{
    height: 720px;
    overflow: auto;
 }

/**
** saltos de página en pdf
    Puede utilizar CSS page-break-before/ page-break-afterproperties para crear una nueva página.
**/

 .page-break {
    page-break-after: always;
}

